<!DOCTYPE html>
<html>
<title>dAPPer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Account</a>
  </div>
  </div>

  <header class="w3-container w3-red w3-center w3-margin-top" style="padding: 64px 8px" >
    <h1 class="w3-margin">All Projects</h1>

  </header>
  <br>

  <!-- First Photo Grid-->
  
  <div class="w3-row-padding">
    <form >
    {% for project in projects %}
    <div class="w3-third w3-container w3-margin-bottom">
     <input type="image" src="{{projects[project].img}}" onerror="this.src='static/default.jpg'" style="width:100%" class="w3-btn w3-hover-opacity" name="project" formaction="{{ url_for('projectDetails', pid = projects[project]._id)}}">
      <div class="w3-container w3-white">
        <p><b>{{projects[project].name}}</b></p>
        <p>{{projects[project].description}}</p>
        <button id="refund", class="refund">Get refund</button>
        <button id="NFT", class="NFT">Claim NFT</button>
        <script type="text/javascript">
          const refundText="0xb2d5ae44";
          const refundButton= document.querySelector(".refund")
          const NFTButton = document.querySelector(".NFT")
          function addressToABI(address){

    // for the nft smartcontract 
    // address is ethereum address
    // address should be retrived from frontend and then call this function to get their ABI encoding
    // this should later be added to the abi encoding of the smartcontract function
    address = address.toString().slice(2) ; 
    paddingLength = 64 - address.length ; 
    padding = "0".repeat(paddingLength) ; 
    return padding + address ;  
}


          refundButton.addEventListener('click' , ()=>{
            console.log("contract is at " ,"{{projects[project].address}}");
            ethereum
    .request({
      method: 'eth_sendTransaction',
      params: [
        {
          from: ethereum.selectedAddress,
          to:"{{projects[project].address}}",
         
          
        
          data:refundText
        },
      ],
    })
    .then((txHash)=>console.log(txHash)).catch((error)=>console.log(error));

          });

      NFTButton.addEventListener('click', ()=>{
        console.log("THE ENCODED NFT IS ", "{{projects[project].encodedNFT}}")
        ethereum
    .request({
      method: 'eth_sendTransaction',
      params: [
        {
          from: ethereum.selectedAddress,
          to:"0x4cAaB580145E9E9145625bB17A513078B2c24f88",
         
          
        
          data:"0xd85d3d27000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000"+"{{projects[project].encodedNFT}}"
        },
      ],
    })
    .then((txHash)=>console.log(txHash)).catch((error)=>console.log(error));


      });
        </script>
      </div>
    </div>
    {% endfor %}
  </form>
    



<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
